.tabs {
    width: 32rem;
    position: relative;
    border-radius: 8px;
    box-shadow: 1px 9px 20px -7px rgba(0,0,0,0.66);
    -webkit-box-shadow: 1px 9px 20px -7px rgba(0,0,0,0.66);
    -moz-box-shadow: 1px 9px 20px -7px rgba(0,0,0,0.66);
}

.tab-content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.tab-list {
    margin: 0;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
}

.tab-list-item {
    list-style: none;
    width: 100%;
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 4px;
    padding: 20px 0;
}

.tab-list-item.tab-list-active {
    background-color: #fff;
    color: #333;
}