.menu {
    position: relative;
    display: inline-block;
}

.menu-button {
    cursor: pointer;
}

.menu-list {
    position: absolute;
    display: none;
    
}
 
.menu-list.open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99999 !important;
}

