.table-container {
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 0 10px;
    width: 100%;
    margin-top: 10px;
    border-radius: 8px;
    overflow-x: scroll;
}

.table-container::-webkit-scrollbar {
    display: none;
}

.table {
    background-color: #fff;
    color: #1c1e2e;
    border-collapse: collapse;
    width: 100% !important;
}

.tr-header {
    width: 100%;
}

.td {
    text-align: center;
}

.td,
.th {
    border: none;
    padding: 8px;
}

.tr:nth-child(even) {
    background-color: #f3f3f3;
}

.input-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.input-table {
    border-radius: 8px;
    width: 50%;
}